---
---

@import "{{ site.theme }}";

.wrapper {
  width:1000px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width:700px;
  float:right;
  padding-bottom:50px;
}
